/* No CSS */
header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid lightgrey;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

.homePicture {
  border-bottom: 1px solid black;
  padding-bottom: 60px;
}

.homePicture__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.homePicture__title--name {
  font-family: 'Rhodium Libre', serif;
  text-transform: uppercase;
  font-size: 40px;
}

.homePicture__title--rule {
  font-family: 'Rozha One', serif;
  text-transform: uppercase;
  font-size: 24px;
}

.dark-block {
  width: 60%;
  padding: 10%;
  background: dimgray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% auto;
}

.dark-block-img {
  height: 100px;
}

.homeAbout {
  padding: 10%;
  border-bottom: 1px solid black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeAbout__title {
  font-family: 'Rozha One', serif;
  padding-bottom: 15px;
}

.homeAbout__title--working {
  padding: 0 70px;
}

.homeAbout__title--padding {
  padding-bottom: 50px;
}

.homeAbout p {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.homeSkills {
  text-align: center;
  border-bottom: 1px solid black;
  font-family: 'Rozha One', serif;
}

.homeSkills--icon {
  width: 60px;
}

.homeSkills__skills1 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeSkills__skills2 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeProjects {
  text-align: center;
  border-bottom: 1px solid black;
}

.homeProjects p {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.homeProjects__title {
  font-family: 'Rozha One', serif;
}

.homeProjects__imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeProjects .omniImg,
.homeProjects .drumImg,
.homeProjects .roboImg,
.homeProjects .outImg {
  width: 100%;
}

.homeContact {
  text-align: center;
  border-bottom: 1px solid black;
}

.homeContact__title {
  font-family: 'Rozha One', serif;
}

* {
  margin: 0;
  padding: 1% 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .homeAbout__title,
* .homeContact__title,
* .homeSkills__title,
* .homeProjects__title {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */